<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>The Dream Team</title>

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/bootstrap.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
        type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="/stylesheets/grayscale.css" rel="stylesheet">
  <link href="/stylesheets/countdown.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">The Dream Team</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#download">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#rules">Rules</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Intro Header -->
<header class="masthead">
   <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class="brand-heading">Fifa Night 06.18</h1>
          <div id="countdown"></div>
          <a href="#download" class="btn btn-circle js-scroll-trigger">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
          <p>"In any other corporation, if there was so many things that were found to be corrupt, then the man at the
            top would go - but that doesn't seem to be the case with FIFA (Night)." - Gary Lineker</p>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Schedule Section -->
<section id="download" class="download-section content-section text-center">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <h2>Schedule</h2>
      <table class="table text-left">
        <thead>
        <tr>
          <th>Time</th>
          <th>Name</th>
          <th>Attendance</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">3pm</th>
          <td>1v1 Seeding</td>
          <td>Optional</td>
        </tr>
        <tr>
          <th scope="row">7pm</th>
          <td>Welcome Drinks</td>
          <td>Recommended</td>
        </tr>
        <tr>
          <th scope="row">7.30pm</th>
          <td>Opening Ceremony</td>
          <td>Obligatory</td>
        </tr>
        <tr>
          <th scope="row">7.45pm</th>
          <td>The Draw</td>
          <td>Obligatory</td>
        </tr>
        <tr>
          <th scope="row">8pm</th>
          <td>Stage 1</td>
          <td>Obligatory</td>
        </tr>
        <tr>
          <th scope="row">9pm</th>
          <td>Communion</td>
          <td>Optional</td>
        </tr>
        <tr>
          <th scope="row">10pm</th>
          <td>Stage 2</td>
          <td>Obligatory</td>
        </tr>
        <tr>
          <th scope="row">11pm</th>
          <td>Stage 3</td>
          <td>Obligatory</td>
        </tr>
        <tr>
          <th scope="row">Late</th>
          <td>Infernos</td>
          <td>Not Recommended</td>
        </tr>
        <tr>
          <th scope="row">Sunday, 11am</th>
          <td>Suriviors Breakfast</td>
          <td>Optional</td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>
</section>

<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Meet The Team</h2>
        <p>Click through to view full player profiles. Note: for security reasons, profiles are password protected.
          Please get in touch with a member of the spine for access.</p>
        <p>In seed order</p>
        <table class="table table-inverse text-left table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Royal Inspiration</th>
            <th>Caps</th>
          </tr>
          </thead>
          <tbody>
          {{#each players}}
            <tr onclick="window.location.assign('/players/{{this.fifaInspiration.player}}');">
              <td>
                {{this.fifaInspiration.player}}</th>
              <td>{{this.royalFamilyInspiration.person}}</td>
              <td>{{this.caps}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- Rules Section -->
<section id="rules" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>House Rules</h2>
        <ul style="text-align: left">
          <li>Concede Throw in, corner, offside, free kick - finger</li>
          <li>Yellow Card - 2 fingers</li>
          <li>Red Card - 4 fingers</li>
          <li>Concede Goal - 3 fingers</li>
          <li>Concede Goal from outside area - 4 fingers</li>
          <li>Concede Penalty - 3 fingers</li>
          <li>Miss a penalty - 3 fingers</li>
          <li>Pre game team changes - Shot</li>
          <li>Substitutions - Shot per sub</li>
          <li>Pressing pause (options button OR ps4 button) at ANY point during a game - Shot</li>
          <li>Run out of drink - Game continues. Drinks accumulate. Hand controller to referee to ensure game continues
            while getting drinks.
          </li>
          <li>Prevent game from continuing if you run out of drink - Shot</li>
          <li>Lose a game - finish drink</li>
          <li>Draw a game - finish drink</li>
          <li>Draw a game 0-0 - you are a disgrace to FIFA night. Finish your drink and do a shot</li>
        </ul>
        <p>All rules are accumulative. I.e. if you get a second yellow in the penalty area and concede the resulting
          penalty, you do 12 fingers.</p>
        <h3>Other Rules</h3>
        <ul style="text-align: left">
          <li>Skipping drinks or dissent towards match (irl) referee - referee to give suitable punishment. Spine may
            advise.
          </li>
          <li>Bickering, bitching or back stabbing - High stakes grudge match</li>
          <li>Bad loser, grumpiness. Anything not in the-dream.team spirit - I heart BJ t-shirt at The Spine's
            discretion.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<!--&lt;!&ndash; Map Section &ndash;&gt;-->
<!--<div id="map"></div>-->

<!-- Footer -->
<footer>
  <div class="container text-center">
    <p>Copyright &copy; the-dream.team 2017</p>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/javascripts/jquery/jquery.min.js"></script>
<script src="/javascripts/popper/popper.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>

<!-- Plugin JavaScript -->
<script src="/javascripts/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/javascripts/grayscale.js"></script>

<script>
  var endTime = '2017-09-30T18:30:00.000Z';
</script>
<script src="/javascripts/countdown.js"></script>


</body>

